@import "@/styles/base";

.logo {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 20px;
}

.storyteller {
  width: 135px;
  height: 27px;
}
