@import "@/styles/base";

.pages {
  display: flex;
  gap: 5px;
}

.page {
  width: 29px;
  height: 52px;
  border-radius: 3px;
}

.extras {
  @extend .page;
  background-color: #EBEBEB;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #444647;
  font-size: 14px;
}
